//**fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
//**Veriables

$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
$primary-color: #376bfb;
$secondary-color: #526d94;
$gray-color:#e6eaef;
$light-color:#FEFEFE;
$dark-color: #000000;
$general-transition: all .5s;
