@import 'components/modal';
@import 'components/customModal';
@import 'components/customEffects';
@import 'components/input';
@import 'components/navtabs';
@import 'components/table';
@import 'components/shadow';

.component-header {
  font-size: 1rem;
  padding-left: .5rem;
  font-weight: 400;

  &-bold {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

